CONEXION Y CRUD (SQlite)

In [ ]:
# Importar el sgdb Sqlite3
import sqlite3

conexion = sqlite.connect('ejemplo.db')

# Cerramos la conexión para crearla definitivamente y liberarla para poder gestionar los datos
conexion.close()

In [ ]:
#CREACIÓN DE UNA TABLA
import sqlite3

conexion = sqlite3.connect('ejemplo.db')

cursor = conexion.cursor()

cursor.execute("CREATE TABLE USUARIOS (nombre varchar(30), edad int, email varchar(100))")

#Guardar los cambios de forma definitiva
conexion.commit()

conexion-close()

In [ ]:
#INSERTAR REGISTROS EN LA TABLA
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

cursor.execute("INSERT INTO USUARIOS VALUES ('Francisco',52, 'pago@gamil.com')".)

conexion.commit()
conexion.close()

In [ ]:
#INSERTAR VARIOS REGISTROS CON executemany()
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

usuarios = [
    ('Ana', 28, 'ana@gmail.com'),
    ('Luis',25, 'luis@gmail.com'),
    ('Juan', 30, 'juan@gmail,com')
]

# Hacemos el cursor con el método executemany() para insertar
cursor.executemany("INSERT INTO USUARIOS VALUES (?,?,?)", usuarios)

conexion.commit()
conexion.close()

In [1]:
#LECTURA DE REGISTROS EN LA TABLA
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

cursor.execute("SELECT * FROM USUARIOS")
#print(cursor)

usuario = cursor.fetchone()
usuarios = cursor.fetchall()

for usuario in usuarios:
    print(usuario)

conexion.close()

OperationalError: no such table: USUARIOS

In [1]:
#LECTURA DE REGISTROS VARIOS
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

cursor.execute("SELECT * FROM USUARIOS WHERE nombre = 'Ana' ")
#print(cursor)

usuario = cursor.fetchone()
    print(usuario)

conexion.close()

OperationalError: no such table: USUARIOS

In [1]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

cursor.execute("SELECT * FROM USUARIOS WHERE edad >= 30")

usuario = cursor.fetchall()
    print(usuario)

conexion.close()

OperationalError: no such table: USUARIOS

In [ ]:
#MODIFICACIÓN DE REGISTROS UPDATE
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

cursor.execute("UPDATE * USUARIOS SET nombre = 'Roberto' WHERE nombre = 'Roberto' ")

#Realizamos una consulta para ver la actualización
cursor.execute("SELECT * FROM USUARIOS")

usuario = cursor.fetchall()
    print(usuario)

conexion.close()

In [ ]:
#BORRADO DE DATOS
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

cursor.execute("DELETE FROM USUARIOS WHERE nombre = 'Roberto' ")

#Realizamos una consulta para ver la actualización
cursor.execute("SELECT * FROM USUARIOS")
usuarios = cursor.fetchall()
print(usuarios)

conexion.commit()
conexion.close()